/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.content-container {
    border: 2px solid grey;
    width: 60%;
    padding: 1px;
    border-radius: 5px;
    margin-top: 10px;
}
.navbar, .footer {
    border-radius: 4px;
}
input {
    border-radius: 4px;
}
.nav {
    margin-top: 1px;
}
a {
    text-decoration: none;
}
