.buttons {
    background-color: #424649;
    border-radius: 4px;
    box-shadow: 0px 0px 0px white;
}
.buttons input, .buttons a {
    color: white;
}
.footer {
    display: none;
}
fieldset, .property-list {
    margin-left: 0;
    padding-left: 0;
}
.fieldcontain label, .fieldcontain .property-label {
    border-right: 1px solid gainsboro;
    padding-right: 5px;
    width: 100px;
}
.fieldcontain .property-value {
    margin-left: 110px;
}
